@use './base/resets';
@use './layouts/layouts';
@use './componets/components';
@use './abstracts/abstracts';


//Scrollbar Styling 
body::-webkit-scrollbar {
    width: 0.8rem;
}

body::-webkit-scrollbar-thumb {
    background-color: abstracts.$accent-color;
}

body {
    scroll-behavior: smooth;
}