@use "./variables";

.container {
    $padding-inline: 5%;
    $content-max-width: 1450px;
    display: grid;
    grid-template-columns: [full-width-start] minmax($padding-inline, 1fr) [content-start] min(100% - (2 * $padding-inline), $content-max-width) [content-end] minmax($padding-inline, 1fr) [full-width-end];
}

.container > :not(.full-width, .breakout) {
    grid-column: content;
}

.container > .full-width {
    grid-column: full-width;
}

//layout
.block {
    display: block;
}

.none {
    display: none;
}

//FLEXBOX

.flx {
    display: flex;
}

.flx-1 {
    flex: 1;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: start;
}

.ac-start {
    align-content: start;
}

.as-center {
    align-self: center;
}

.as-stretch {
    align-self: stretch;
}

.as-start {
    align-self: start;
}

.as-end {
    align-self: end;
}

.js-center {
    justify-self: center
}

.js-start {
    justify-self: start;
}

.js-end {
    justify-self: end;
}

.js-stretch {
    justify-self: stretch;
}

.jc-sb {
    justify-content: space-between;
}

.jc-start {
    justify-content: flex-start;
}

.jc-center {
    justify-content: center;
}

//GRID

.grd {
    display: grid;
}

.subgrid-c {
    grid-template-columns: subgrid;
}

.subgrid-r {
    grid-template-rows: subgrid;
}

//Spacing

//Vertical
.pt-5 {
    padding-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pt-10 {
    padding-top: 10px;
    
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-70 {
    padding-top: 70px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pt-90 {
    padding-top: 90px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-160 {
    padding-top: 160px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-160 {
    padding-bottom: 160px;
}


//Horizantal
.pl-25 {
    padding-left: 25px;
 }

.pr-25 {
    padding-right: 25px;
}

.pl-35 {
    padding-left: 35px;
}

.pr-35 {
    padding-right: 35px;
}

.pr-65 {
    padding-right: 65px;
}

.pl-65 {
    padding-left: 65px;
}

.pl-80 {
    padding-left: 80px;
}

.pr-80 {
    padding-right: 70px;
}

//Margins

//Vertical
.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 1.25rem;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-130 {
    margin-top: 130px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-120 {
    margin-bottom: 120px;
}


//HORIZONTAL
.mr-10{
    margin-right: 10px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-50 {
    margin-right: 50px;
}

.ml-40 {
    margin-left: 40px;
}

//Sizes 
.h-fs {
    height: 100vh;
}

.w-fs {
    width: 100vw;
}

.w-fit {
    width: 100%;
}

.h-fit {
    height: 100%;
}


//Flow
.g-5 {
    gap: 5px;
}

.g-10 {
    gap: 10px;
}

.g-15 {
    gap: 15px;
}

.g-20 {
    gap: 1.25rem;
}

.g-30 {
    gap: 30px;
}

.g-40 {
    gap: 40px;
}

.g-50 {
    gap: 50px;
}

.g-60 {
    gap: 3.75rem;
}

.g-100 {
    gap: 6.25rem;
}

.rg-60 {
    row-gap: 60px;
}

.cg-20 {
    column-gap: 20px;
}

.cg-40 {
    column-gap: 40px;
}

.cg-80 {
    column-gap: 80px;
}

//Position
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.t-0 {
    top: 0;
}

.b-0 {
    bottom: 0;
}

.l-0 {
    left: 0;
}

.r-0 {
    right: 0;
}
//responsiveness


@media only screen and (max-width: variables.$tablet-size) {
    .block-md {
        display: block;
    }

    .flx-md {
        display: flex;
    }

    .grd-md {
        display: grid;
    }

    .column-md {
        flex-direction: column;
    }

    .row-md {
        flex-direction: row;
    }

    .ai-center-md {
        align-items: center;
    }

    .as-start-md {
        align-self: start;
    }

    .as-center-md {
        align-self: center;
    }

    .js-start-md {
        justify-self: start;
    }

    .js-center-md {
        justify-self: center;
    }

    .js-stretch-md {
        justify-self: stretch;
    }

    .jc-center-md {
        justify-content: center;
    }

    .jc-start-md {
        justify-content: start;
    }

    .w-fit-md {
        width: 100%;
    }

    .g-10-md {
        gap: 10px;
    }

    .g-15-md {
        gap: 15px;
    }

    .g-30-md {
        gap: 30px;
    }

    .g-50-md {
        gap: 50px;
    }

    .pt-50-md {
        padding-top: 50px;
    }

    .pb-50-md {
        padding-bottom: 50px;
    }

    .pl-25-md {
        padding-left: 25px;
    }

    .pr-25-md {
        padding-right: 25px;
    }
    
    .mt-30-md {
        margin-top: 30px;
    }

    .mt-40-md {
        margin-top: 40px;
    }

    .mb-0-md {
        margin-bottom: 0;
    }

    .mb-40-md {
        margin-bottom: 40px;
    }

    .mb-60-md {
        margin-bottom: 60px;
    }

    .mt-60-md {
        margin-top: 60px;
    }

    .mb-80-md {
        margin-bottom: 80px;
    }

    .none-md {
        display: none;
    }

}

@media only screen and (max-width: 500px) {
    .g-15-sd {
        gap: 15px;
    }

    .pt-30-sd {
        padding-top: 30px;
    }

    .pb-30-sd {
        padding-bottom: 30px;;
    }

    .mb-20-sm {
        margin-bottom: 20px;
    }
}