@use './variables';

//Typography
.font-primary {
    font-family: "Roboto Condensed", sans-serif;
}

.font-sec {
    font-family: "Bebas Neue", sans-serif;
}

.fs-18 {
    font-size: 1rem;
    font-size: clamp(1rem, 0.96rem + 0.18vw, 1.125rem);
}

.fs-20 {
    font-size: 1.125rem;
    font-size: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
}

.fs-24 {
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
}

.fs-30 {
    font-size: 1.375rem;
    font-size: clamp(1.375rem, 1.275rem + 0.5vw, 1.875rem);
}

.fs-32 {
    font-size: 1.375rem;
    font-size: clamp(1.375rem, 1.16rem + 0.93vw, 2rem);
}

.fs-36 {
    font-size: 1.5625rem;
    font-size: clamp(1.5625rem, 1.425rem + 0.6875vw, 2.25rem);
}

.fs-45 {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.08rem + 1.91vw, 2.8125rem);
}

.fs-55 {
    font-size: 55px;
}

.fs-60 {
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 2.22rem + 1.27vw, 3.75rem);
}

.fs-80 {
    font-size: 2.8125rem;
    font-size: clamp(2.8125rem, 2.375rem + 2.1875vw, 5rem);
}

.txt-start {
    text-align: start;
}

.txt-center {
    text-align: center;
}

.txt-square {
    text-justify: inter-word;
    text-align: justify;
}

.fw-norm {
    font-weight: normal;
}

.fw-bold {
    font-weight: bold;
}

.lh-0 {
    line-height: 0;
}

.lh-1 {
    line-height: 1.2;
}

.clr-heading {
    color: variables.$dark-color;
}

.clr-body {
    color: variables.$body-text-color;
}

.clr-accent {
    color: variables.$accent-color;
}

.clr-light {
    color: variables.$light-color;
}

.accent-hover:hover {
    color: variables.$accent-color;
}

//lists
.no-list-style {
    list-style-type: none;
}

//Backgrounds
.bg-dark {
    background-color: variables.$dark-color;
}

//Borders
.egg {
    border-radius: 500px;
}

.rounded-20 {
    border-radius: 20px;
}

.no-border {
    border: none;
}


//Animations
.clr-trans {
    transition: color 0.3s ease-in-out;
}

//behavior 
.pointer {
    cursor: pointer;
}

.x-scroll {
    overflow-x: scroll;
}

.x-hidden {
    overflow-x: hidden;
}


@media only screen and (max-width: 968px) {
    .txt-start-md {
        text-align: start;
    }
}