/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  display: grid;
  grid-template-columns: [full-width-start] minmax(5%, 1fr) [content-start] min(90%, 1450px) [content-end] minmax(5%, 1fr) [full-width-end];
}

.container > :not(.full-width, .breakout) {
  grid-column: content;
}

.container > .full-width {
  grid-column: full-width;
}

.flx, .catalogue .catalogue__item {
  display: flex;
}

.row {
  flex-direction: row;
}

.column, .catalogue .catalogue__item {
  flex-direction: column;
}

.ai-center, .catalogue .catalogue__item {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.jc-sb, .catalogue .catalogue__item {
  justify-content: space-between;
}

.jc-start {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.grd {
  display: grid;
}

.pt-5, .btn {
  padding-top: 5px;
}

.pb-5, .btn {
  padding-bottom: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20, .catalogue .catalogue__item {
  padding-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-50, .catalogue .catalogue__item {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pl-25 {
  padding-left: 25px;
}

.pr-25 {
  padding-right: 25px;
}

.pl-35, .btn {
  padding-left: 35px;
}

.pr-35, .btn {
  padding-right: 35px;
}

.pr-65 {
  padding-right: 65px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-80 {
  padding-left: 80px;
}

.pr-80 {
  padding-right: 70px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20, .catalogue .catalogue__item > img {
  margin-bottom: 1.25rem;
}

.mb-35 {
  margin-bottom: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.h-fs {
  height: 100vh;
}

.w-fs {
  width: 100vw;
}

.w-fit {
  width: 100%;
}

.g-5 {
  gap: 5px;
}

.g-20 {
  gap: 1.25rem;
}

.g-30 {
  gap: 30px;
}

.g-40 {
  gap: 40px;
}

.g-60 {
  gap: 3.75rem;
}

.g-100 {
  gap: 6.25rem;
}

.absolute {
  position: absolute;
}

.relative, .catalogue .catalogue__item {
  position: relative;
}

.font-primary, .body-text {
  font-family: "Roboto Condensed", sans-serif;
}

.font-sec, .catalogue .catalogue__item > h2, .btn, .section-heading {
  font-family: "Bebas Neue", sans-serif;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20, .btn, .body-text {
  font-size: 1.25rem;
}

.fs-24, .catalogue .catalogue__item > h2 {
  font-size: 1.5rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-45 {
  font-size: 2.8125rem;
}

.fs-60, .section-heading {
  font-size: 3.75rem;
}

.fs-80 {
  font-size: 5rem;
}

.fw-norm, .catalogue .catalogue__item > h2 {
  font-weight: normal;
}

.fw-bold {
  font-weight: bold;
}

.lh-1 {
  line-height: 1.2;
}

.clr-heading, .catalogue .catalogue__item > h2, .section-heading {
  color: #000000;
}

.clr-body, .body-text {
  color: #666666;
}

.clr-accent {
  color: #EB8921;
}

.clr-light, .btn {
  color: #FFFFFF;
}

.accent-hover:hover, .btn:hover {
  color: #EB8921;
}

.bg-dark, .btn {
  background-color: #000000;
}

.egg, .btn {
  border-radius: 500px;
}

.rounded-20, .catalogue .catalogue__item {
  border-radius: 20px;
}

.clr-trans, .btn {
  transition: color 0.3s ease-in-out;
}

.pointer, .btn {
  cursor: pointer;
}

nav {
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
}
@media only screen and (max-width: 60.5rem) {
  nav .nav__content div {
    display: none;
  }
}
nav .nav__content div div:hover > * {
  color: #EB8921;
}
nav .nav__content > i {
  display: none;
}
@media only screen and (max-width: 60.5rem) {
  nav .nav__content > i {
    display: block;
  }
}

.hero {
  grid-template-columns: 30% 1fr;
  grid-column: content/full-width;
  height: 92vh;
  overflow-x: hidden;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 23.39%, rgba(255, 255, 255, 0.71) 45.37%, rgba(232, 232, 232, 0.13) 61.23%, rgba(198, 198, 198, 0.33) 76.99%);
}
.hero .hero__text > .body-text {
  max-width: 90%;
  margin-top: -10px;
}
.hero img {
  width: 85vw;
  max-width: none;
  height: auto;
}

.services > div {
  width: 50%;
}
.services > div:first-child p:not(:first-child, :last-child) {
  color: #FFFFFF;
  -webkit-text-stroke: 3px rgba(16, 16, 16, 0.384);
  letter-spacing: 3.2px;
}
.services > div:last-child {
  width: 45%;
}
.services > div:last-child p {
  width: 75%;
}
.services > div .point {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #EB8921;
}

.catalogue {
  grid-template-columns: repeat(4, 1fr);
}
.catalogue > div:first-child, .catalogue > div:nth-child(2) {
  grid-column: span 2;
}
.catalogue > div:first-child img {
  width: 520px;
  height: auto;
}
.catalogue > div:nth-child(2) p {
  width: 85%;
}
.catalogue > div {
  background-color: rgba(211, 211, 211, 0.35);
}
.catalogue > div .arrow {
  top: 30px;
  right: 35px;
  font-size: 2rem;
}
.catalogue .catalogue__item > img {
  width: 60%;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #EB8921;
}

/*# sourceMappingURL=main.css.map */
