<!-- Showcase -->
<section class="[ services-showcase ][ full-width container ai-center jc-start pt-90 pt-30-sd pb-90 pb-30-sd mb-80 mb-40-md relative ]">
    <div class="[ w-fit h-fit absolute t-0 b-0 l-p r-0  full-width ][ overlay ]"></div>
    <h1 class="[ fs-80 clr-light fw-norm font-sec ][ relative ]">About Us</h1>
</section>

<!-- Description Section -->
<section class="[ description ][ grd g-60 mb-50 g-50-md ]">
    <div class="[ description__text ]">
        <h1 class="[ mb-10 ][ fs-45 ][ heading ]">Who We Are</h1>
        <p class="[ mb-20 ][ body-text ][ fs-20 txt-square ]">
            Lorem ipsum dolor sit amet consectetur. Porttitor odio justo laoreet aliquet molestie quisque. Sem ultricies amet vel tempus ornare faucibus. Adipiscing odio vel id tincidunt sed tristique sed adipiscing. Et aliquet in potenti diam pharetra cursus. Id urna ullamcorper est pharetra libero amet. Nulla arcu sit risus eu. Ipsum fermentum amet hendrerit integer ultrices lectus. Et tempor phasellus aenean mi.
        </p>
        <p class="[ mb-50 ][ body-text ][ fs-20 txt-square ]">
            Adipiscing odio vel id tincidunt sed tristique sed adipiscing. Et aliquet in potenti diam pharetra cursus. Id urna ullamcorper est pharetra libero amet. 
        </p>
        <h1 class="[ mb-10 ][ fs-45 ][ heading ]">Our Mission</h1>
        <p class="[][ body-text ][ fs-20 txt-square ]">
            Lorem ipsum dolor sit amet consectetur. Porttitor odio justo laoreet aliquet molestie quisque. Sem ultricies amet vel tempus ornare faucibus. Adipiscing odio vel id tincidunt sed tristique sed adipiscing. Et aliquet in potenti diam pharetra cursus. Id urna ullamcorper est pharetra libero amet. Nulla arcu sit risus eu. Ipsum fermentum amet hendrerit integer ultrices lectus. Et tempor phasellus aenean mi.
        </p>
    </div>
    <div class="[ description__tagline ][ as-center js-end js-start-md ]">
        <p class="[ fs-80 font-sec fw-bold ][  ]">We Value Your Car As Much As You Do!</p>
        <p class="[ fs-24 ][ heading ]">It's <span>Our</span> Car Now</p>
    </div>
</section>

<!--Team Section -->
<section class="[ team ][ grd mb-80 g-60 ]">
    <div class="[ team__description ]">
        <h1 class="[ mb-10 ][ fs-45 ][ heading ]">Our Team Is Certified and Has Loads of Experience</h1>
        <p class="[  ][ body-text ][ fs-20 txt-square ]">
            Lorem ipsum dolor sit amet consectetur. Porttitor odio justo laoreet aliquet molestie quisque. Sem ultricies amet vel tempus ornare faucibus. Adipiscing odio vel id tincidunt sed tristique sed adipiscing. Et aliquet in potenti diam pharetra cursus. Id urna ullamcorper est pharetra libero amet. Nulla arcu sit risus eu. Ipsum fermentum amet hendrerit integer ultrices lectus. Et tempor phasellus aenean mi.
        </p>
    </div>
    <img class="[ as-center js-end js-center-md ]" src="/static/images/team.png" >
</section>

<!-- Location Section -->
<h1 class="[ mb-10 ][ fs-45 ][ heading ]">Where We Are</h1>
<img class="[ map ][ full-width ] [ mb-80 ]" src="/static/images/location.png">

<!-- Contact Section -->
{{>contact_section}}


