<!-- Hero Section -->
<section class="[ hero ] [ grd ai-center breakout g-100 ]">
    <div class="[ hero__text flx column g-20 jc-sb ai-start ]">
        <p class="[ section-heading ] [ lh-1 ]">CAPE TOWN'S PREMIER MOTOR TRACK AND PERFOMANCE FACILITY</p>
        <p class="[ body-text mb-10 ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque nisi</p>
        <a class="[ btn ]">Shop Now</a>
    </div>
    <img class="[ mt-35 ]" src="/static/images/hero_image.png" />
</section>

<!-- Car Parts Suppliers Stripe -->
<section class="[ part-brands ][ full-width flx row gp-20 ai-center jc-sb pl-25 pr-25 w-fit pb-30 pt-30 ] [ bg-dark ]">
    <img src="/static/images/supplier_logo_01.png" />
    <img src="/static/images/supplier_logo_02.png" />
    <img src="/static/images/supplier_logo_03.png" />
    <img src="/static/images/supplier_logo_04.png" />
    <img src="/static/images/supplier_logo_05.png" />
    <img src="/static/images/supplier_logo_06.png" />
    <img src="/static/images/supplier_logo_07.png" />
    <img src="/static/images/supplier_logo_08.png" />
    <img src="/static/images/supplier_logo_09.png" />
</section>

<!-- Services Overview Section -->
<section class="[ services ] [ flx row jc-sb ai-center pt-70 pb-70 ]">
    <div>
        <p class="[ fs-80 font-sec fw-bold ]">Repairs</p>
        <p class="[ fs-80 font-sec fw-bold ]">PERFOMANCE TUNING</p>
        <p class="[ fs-80 font-sec fw-bold ]">Interior</p>
        <p class="[ fs-80 font-sec fw-bold ]">Body Modifications</p>
        <p class="[ fs-24 font-sec fw-bold clr-heading fw-bold ]">WE DO IT ALL!</p>
    </div>
    <div>
        <h2 class="[ mb-10 ][ font-sec fs-36 clr-heading fw-norm ]">Certified Technicians</h2>
        <p class="[ mb-35 ][ font-primary fs-20 clr-body ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque nisi</p>
        <h2 class="[ mb-10 ][ font-sec fs-36 clr-heading fw-norm  ]">Guaranteed Services</h2>
        <div class="[ mb-20 flx row jc-start ai-center g-20 ]">
            <div class="[ point ]"> </div>
            <p class="[ font-primary fs-20 clr-body ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae.</p>
        </div>
        <div class="[ flx row jc-start ai-center g-20 ]">
            <div class="[ point ]"> </div>
            <p class="[ font-primary fs-20 clr-body ]">Nunc amet tincidunt congue ipsum euismod.</p>
        </div>
    </div>
</section>

<!-- Catalogue Overview Section -->
<section class="[ catalogue ] [ grd g-30 ]">
    <div class="[ flx column jc-center ai-center pt-50 pb-50 rounded-20 relative ]">
        <img src="/static/images/coilover.png" />
        <i class="[ arrow ][ fas fa-arrow-right ] [ absolute ]"></i>
    </div>
    <div class=" [ flx column ai-start jc-center pr-35 pl-65 rounded-20 ] ">
        <h1 class="[ font-sec fs-60 clr-heading fw-norm ]">Shop automotive components</h1>
        <p class="[ font-primary fs-20 clr-body mb-35 ]">
            Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque nisi
        </p>
        <a href="#" class="[ btn ]">Shop Now</a>
    </div>
    <div class="[ catalogue__item ]">
        <img src="/static/images/wheels.png" />
        <h2>wheels</h2>
        <i class="[ arrow ][ fas fa-arrow-right ] [ absolute ]"></i>
    </div>
    <div class="[ catalogue__item ]">
        <img src="/static/images/exhaust.png" />
        <h2>exhaust systems</h2>
        <i class="[ arrow ][ fas fa-arrow-right ] [ absolute ]"></i>
    </div>
    <div class="[ catalogue__item ]">
        <img src="/static/images/body_kit.png" />
        <h2>body work</h2>
        <i class="[ arrow ][ fas fa-arrow-right ] [ absolute ]"></i>
    </div>
    <div class="[ catalogue__item ]">
        <img src="/static/images/brakes.png" />
        <h2>brakes</h2>
        <i class="[ arrow ][ fas fa-arrow-right ] [ absolute ]"></i>
    </div>
</section>