<!-- Hero Section -->
<section class="[ hero ] [ grd ai-center breakout g-100 g-15-md relative ]">
    <div class="[ hero__text flx column g-20 jc-sb ai-start relative ]">
        <h1 class="[ heading ] [ lh-1 fs-60 ]">CAPE TOWN'S PREMIER MOTOR TRACK AND PERFOMANCE FACILITY</h1>
        <p class="[ body-text mb-10 fs-20 ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque nisi</p>
        <a class="[ btn ]">Shop Now</a>
    </div>
    <div class="[ hero__overlay ]"></div>
    <img class="[ mt-35 ]" src="/static/images/hero_image.png" />
</section>

