<!-- Hero Section -->
<section class="[ hero ] [ grd ai-center breakout g-100 g-15-md relative ]">
    <div class="[ hero__text flx column g-20 jc-sb ai-start relative ]">
        <h1 class="[ heading ] [ lh-1 fs-60 ]">CAPE TOWN'S PREMIER MOTOR TRACK AND PERFOMANCE FACILITY</h1>
        <p class="[ body-text mb-10 fs-20 ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque nisi</p>
        <a class="[ btn ]">Shop Now</a>
    </div>
    <div class="[ hero__overlay ]"></div>
    <img class="[ mt-35 ]" src="/static/images/hero_image.png" />
</section>

<!-- Services Overview Section -->
<section class="[ services ] [ flx row jc-sb ai-center pt-70 pb-70 mb-50 column-md  ]">
    <div>
        <p class="[ fs-80 font-sec fw-bold ]">Repairs</p>
        <p class="[ fs-80 font-sec fw-bold ]">PERFOMANCE TUNING</p>
        <p class="[ fs-80 font-sec fw-bold ]">Interior</p>
        <p class="[ fs-80 font-sec fw-bold ]">Body Modifications</p>
    </div>
    <div class="[ flx-md row-md g-30-md ]">
        <div>
            <h2 class="[ mb-10 ][ font-sec fs-36 clr-heading fw-norm ]">Certified Technicians</h2>
            <p class="[ mb-35 ][ fs-20 ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque nisi</p>
        </div>
        <div>
            <h2 class="[ mb-10 ][ font-sec fs-36 clr-heading fw-norm  ]">Guaranteed Services</h2>
            <div class="[ mb-20 flx row jc-start ai-center g-20 ]">
                <div class="[ point ]"> </div>
                <p class="[ fs-20 ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae.</p>
            </div>
            <div class="[ flx row jc-start ai-center g-20 ]">
                <div class="[ point ]"> </div>
                <p class="[ fs-20 ][ body-text ]">Nunc amet tincidunt congue ipsum euismod.</p>
            </div>
        </div>
    </div>
</section>

<section class="[ benifits ] [ grd g-20 g-30-md ai-start mb-120 ]">
    <div class="[ grd subgrid-r ]">
        <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ]">We Offer Financing</h2>
        <p class="[ pt-5 ][ fs-18 ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque</p>
    </div>
    <div class="[ grd subgrid-r ]">
        <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ]">Quality Services</h2>
        <p class="[ pt-5 ][ fs-18 txt-square ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae.</p>
    </div>
    <div class="[ grd subgrid-r ]">
        <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ]">Done Quickly</h2>
        <p class="[ pt-5 ][ fs-18 txt-square ][ body-text ]">Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque nisi</p>
    </div>
    <div class="[ grd subgrid-r ]">
        <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ]">Customer Satisfation</h2>
        <p class="[ pt-5 ][ fs-18 txt-square ][ body-text ]">Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis.</p>
    </div>
</section>

<!-- Catalogue Overview Section -->
<section class="[ catalogue ] [ grd g-20 mb-80 ]">
    <div class="[ flx column jc-center ai-center pt-50 pb-50 pl-35 pr-35 rounded-20 relative ]">
        <img src="/static/images/coilover.png" />
    </div>
    <div class=" [ flx column ai-start jc-center pr-35 pl-65 pt-30 pb-30 rounded-20 ] ">
        <h1 class="[ fs-60 ] [ heading ]">Shop automotive components</h1>
        <p class="[ mb-35 ][ fs-20 ][ body-text ]">
            Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque nisi
        </p>
        <a href="#" class="[ btn ]">Shop Now</a>
    </div>
    <div class=" [ grd g-20 ]">
        <div class="[ catalogue__item ]">
            <img src="/static/images/wheels.png" />
            <h2>wheels</h2>
        </div>
        <div class="[ catalogue__item ]">
            <img src="/static/images/exhaust.png" />
            <h2>exhaust systems</h2>
        </div>
        <div class="[ catalogue__item ]">
            <img src="/static/images/body_kit.png" />
            <h2>body parts</h2>
        </div>
        <div class="[ catalogue__item ]">
            <img src="/static/images/brakes.png" />
            <h2>brakes</h2>
        </div>
        <div class="[ catalogue__item ]">
            <img src="/static/images/piston.webp" />
            <h2>engine parts</h2>
        </div>
    </div>
</section>


