<!-- Hero Section -->
<section class="[ hero ] [ grd ai-center breakout g-100 g-15-md relative ]">
    <div class="[ hero__text flx column g-20 jc-sb ai-start relative ]">
        <h1 class="[ heading ] [ lh-1 fs-60 ]">CAPE TOWN'S PREMIER MOTOR TRACK AND PERFOMANCE FACILITY</h1>
        <p class="[ body-text mb-10 fs-20 ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque nisi</p>
        <a href="#contact-home" class="[ btn ]">Get A Qoute</a>
    </div>
    <div class="[ hero__overlay ][ block-md ]"></div>
    <img class="[ mt-35 ]" src="/static/images/hero_image.png" />
</section>

<!-- Part Brands -->
<section class="[ part-brands ][ full-width flx row pt-20 pb-20 x-hidden none-md ]">
    <div class="[ flx row ai-center ]">
        <img src="/static/images/brands/brand_01.svg" />
        <img src="/static/images/brands/brand_02.svg" />
        <img src="/static/images/brands/brand_03.svg" />
        <img src="/static/images/brands/brand_11.svg" />
        <img src="/static/images/brands/brand_05.svg" />
        <img src="/static/images/brands/brand_17.svg" />
        <img src="/static/images/brands/brand_16.svg" />
        <img src="/static/images/brands/brand_13.svg" />
        <img src="/static/images/brands/brand_14.svg" />
    </div>

    <div class="[ flx row ai-center ]">
        <img src="/static/images/brands/brand_01.svg" />
        <img src="/static/images/brands/brand_02.svg" />
        <img src="/static/images/brands/brand_03.svg" />
        <img src="/static/images/brands/brand_11.svg" />
        <img src="/static/images/brands/brand_05.svg" />
        <img src="/static/images/brands/brand_17.svg" />
        <img src="/static/images/brands/brand_16.svg" />
        <img src="/static/images/brands/brand_13.svg" />
        <img src="/static/images/brands/brand_14.svg" />
    </div>
</section>

{{!-- Services Overview Section --}}
<section class="[ services ][ full-width container relative ]">
    <div class='[ overlay ][ full-width absolute t-0 b-0 l-0 r-0 ]'></div>
    <div class="[ services-content ][ relative flx g-50 row jc-sb jc-center-md g-30-md ai-center pt-70 pb-70 mb-10 column-md ][ x-hidden ]">
        <div class="[ ]">
            <div class="[ title ][ flx row ai-center g-20 mb-20 mb-40-md none ]">
                <div class="[ flx-1 ]"></div>
                <h2 class="[ font-primary fw-norm-md fs-34 clr-light ]">WHAT WE DO</h2>
            </div>
            <div class="[ flx row g-20 ai-center jc-center jc-start-md ]">
                <div class="[ empty-space ][ none-md flx-1 bg-light ][ as-start ]"></div>
                <p class="[ font-sec fw-bold lh-2 ]">Repairs</p>
            </div>
            <p class="[ large-service ][ font-sec fw-bold ]">PERFOMANCE TUNING</p>
            <p class="[ mobile-service ][ none ][ font-sec fw-bold ]">TUNING</p>
            <div class="[ flx row g-20 ai-center jc-center jc-start-md ]">
                <div class="[ empty-space ][ none-md flx-1 bg-light ][ as-start ]"></div>
                <p class="[ font-sec fw-bold lh-2 ]">Interior</p>
            </div>
            <p class="[ large-service ][ font-sec fw-bold ]">Body Modifications</p>
            <p class="[ mobile-service ][ none ][ font-sec fw-bold ]">BODY WORK</p>
            <p class="[ fs-20 font-primary fw-bold clr-light none-md ]">WE DO IT ALL!</p>
        </div>
        <div class="[ flx-md relative row-md ai-start g-30-md mt-30-md none-md ]">
            <div>
                <h2 class="[ mb-10 ][ font-sec fs-36 clr-light fw-norm ]">Certified Technicians</h2>
                <p class="[ mb-35 ][ fs-20 ][ font-primary fs-18 ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque nisi</p>
            </div>
            <div>
                <h2 class="[ mb-10 ][ font-sec fs-36 clr-light fw-norm  ]">Guaranteed Services</h2>
                <div class="[ mb-20 flx row jc-start ai-center g-20 ]">
                    <div class="[ point ]"> </div>
                    <p class="[ fs-20 ][ font-primary fs-18 ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae.</p>
                </div>
                <div class="[ flx row jc-start ai-center mb-20 g-20 ]">
                    <div class="[ point ]"> </div>
                    <p class="[ fs-20 ][ font-primary fs-18t ]">Nunc amet tincidunt congue ipsum euismod.</p>
                </div>
            </div>
            <a href="/services" class="[ btn ]">Services</a>
        </div>
    </div>
</section>

<!-- Benifits Section -->
<section class="[ benifits ] [ grd g-30-md g-15-sd mt-130 mt-60-md mb-100 mb-60-md ]">
    <div class="[ title ][ flx column jc-start ai-start ]">
        <h1 class="[ heading ] [ fs-60 ][ mb-45 as-center-md ]">Why Work With Us</h1>
        <div class="[ flx column ai-center as-center-md mb-40-md ]">
            <img class="[ mb-20 ]" src="/static/images/car.png" />
            <h3 class="[ clr-heading font-script fs-24 ][ js-center txt-center ]">We're the best around!</h3>
        </div>
    </div>
    <div>
        <div class="[ grd ai-start ][ x-scroll ][ no-scrollbar ]">
            <div class="[ grd subgrid-r ]">
                <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ]">We Offer Financing</h2>
                <p class="[ pt-5 ][ fs-18 ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque</p>
                <a href="/services/#check-up-offers" class="[ flx row ai-center jc-start g-10 ][ font-primary clr-accent ]">
                    See Our Plans
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            <div class="[ grd subgrid-r ]">
                <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ]">Done Quickly</h2>
                <p class="[ pt-5 ][ fs-18 txt-square ][ body-text ]">Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque nisi</p>
            </div>
            <div class="[ grd subgrid-r ]">
                <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ]">Customer Satisfation</h2>
                <p class="[ pt-5 ][ fs-18 txt-square ][ body-text ]">Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis.</p>
            </div>
            <div class="[ grd subgrid-r ]">
                <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ]">Quality Services</h2>
                <p class="[ pt-5 ][ fs-18 txt-square ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae.</p>
                <a href="/services" class="[ flx row ai-center jc-start g-10 ][ font-primary clr-accent ]">
                    See Services We Provide
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>

{{!-- About Overview Section --}}
<section class="[ about-overview ][ full-width container relative ]">
    <div class="[ overlay ][ full-width absolute t-0 l-0 r-0 b-0 ]"></div>
    <div class="[ relative w-fit h-fit flx column jc-center ai-center g-10 ]">
        <h1 class="[ font-sec clr-light fs-60 lh-1 ]">We are more than just a repairs shop</h1>
        <p class="[ font-primary fs-20 ][ mb-20 ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque nisi</p>
        <a href="/about" class="[ btn ][ as-start ]">About us</a>
    </div>
</section>

<!-- Catalogue Overview Section -->
<section class="[ catalogue ] [ full-width container pt-160 pt-50-md pb-50-md pb-90 ]">
    <div class="[ shop-online ][ grd jc-center g-30 ai-center ]">
        <img class="[ js-center ]" src="/static/images/phone.png" alt="">
        <div class="[ flx column g-20 ai-center-md as-center-md js-center-md ]">
            <h1 class="[ heading lh-1 fs-60 txt-center-md ]">Order parts online and save up to <span class="[ clr-accent ]">30%!</span></h1>
            <p class="[ body-text fs-18 txt-center-md ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices.</p>
            <a href="/shop/all" class="[ btn ][ as-start as-center-md ]">Shop Now!</a>
        </div>
    </div>
</section>

{{!-- Gallery Section --}}
<section class="[ gallery ][ grd g-10 mb-120 mb-60-md mt-60 mt-40-md ] [ rounded-20 x-scroll ][ no-scrollbar ]">
    <div class="[ flx column jc-center ai-center g-10 relative as-stretch js-stretch ]">
        <div class="[ overlay ][ absolute t-0 l-0 r-0 b-0 ]"></div>
        <h1 class="[ font-sec fw-norm fs-45 clr-light relative ]">Gallery</h1>
        <div class="[ flx row jc-center ai-center g-30 relative ]">
            <a href="#"><i class="[ fa-brands fa-facebook ][ clr-light fs-30 ]"></i></a>
            <a href="#"><i class="[ fa-brands fa-instagram ][ clr-light fs-30 ]"></i></a>
            <a href="#"><i class="[ fa-brands fa-tiktok ][ clr-light fs-30 ]"></i></a>
            <a href="#"><i class="[ fa-brands fa-pinterest ][ clr-light fs-30 ]"></i></a>
        </div>
    </div>
    <img class="[ pointer ]" src="/static/images/gallery/gallery_image_01.jpg" />
    <img class="[ pointer ][ none-md ]" src="/static/images/gallery/gallery_image_02.webp" />
    <img class="[ pointer ]][ none-md ]" src="/static/images/gallery/gallery_image_03.jpg" />
    <img class="[ pointer ][ none-md ]" src="/static/images/gallery/gallery_image_04.webp" />
    <img class="[ pointer ]" src="/static/images/gallery/gallery_image_05.webp" />
    <img class="[ pointer ]" src="/static/images/gallery/gallery_image_18.webp" />
    <img class="[ pointer ]" src="/static/images/gallery/gallery_image_08.png" />
    <img class="[ pointer ]" src="/static/images/gallery/gallery_image_09.jpg" />
    <img class="[ pointer ]" src="/static/images/gallery/gallery_image_10.jpeg" />
    <img class="[ pointer ]" src="/static/images/gallery/gallery_image_11.jpeg" />
    <img class="[ pointer ]" src="/static/images/gallery/gallery_image_12.jpeg" />
    <img class="[ pointer ]" src="/static/images/gallery/gallery_image_13.jpg" />
    <img class="[ pointer ]" src="/static/images/gallery/gallery_image_14.jpg" />
    <img class="[ pointer ]" src="/static/images/gallery/gallery_image_15.webp" />
    <img class="[ pointer ]" src="/static/images/gallery/gallery_image_17.webp" />
    <div class="[ flx jc-center ai-center relative pointer as-stretch js-stretch ]">
        <div class="[ overlay ][ absolute t-0 l-0 r-0 b-0 ]"></div>
        <h1 class="[ font-sec fw-norm fs-45 clr-light relative  ]">See More</h1>
    </div>
</section>

{{!-- Contact Seciton --}}
<div id="#contact-home"></div>
{{>contact_section}}

