<!-- Showcase -->
<section class="[ services-showcase ][ full-width container ai-center jc-start pt-90 pt-30-sd pb-90 pb-30-sd mb-80 mb-40-md relative ]">
    <div class="[ w-fit h-fit absolute t-0 b-0 l-p r-0  full-width ][ overlay ]"></div>
    <h1 class="[ fs-80 clr-light fw-norm font-sec ][ relative ]">Services We Provide</h1>
</section>

<!-- Services -->
<section class="[ services-section ][ mb-120 mb-60-md ]">
    <h1 class="[ heading ][ fs-60 ][ mb-20 ]">What We Do</h1>
    <div class="[ grd g-30 ][ x-scroll  no-scrollbar ]">
        <div class="[ subgrid-r ]">
            <img class="[ rounded-20 ][ mb-20 ]" src="/static/images/repairs.jpg" >
            <h2 class="[ heading ] [ fs-30 ]">Repairs</h2>
            <p class="[ body-text ][ fs-18 txt-square ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis. Ac ullamcorper velit ultrices posuere cras ipsum pretium</p>
        </div>
        <div class="[ subgrid-r ]">
            <img class="[ rounded-20 ][ mb-20 ]" src="/static/images/body_work.jpg" >
            <h2 class="[ heading ] [ fs-30 ]">Body Work</h2>
            <p class="[ body-text ][ fs-18 txt-square ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas.</p>
        </div>
        <div class="[ subgrid-r ]">
            <img class="[ rounded-20 ][ mb-20 ]" src="/static/images/performance_tuning.jpg" >
            <h2 class="[ heading ] [ fs-30 ]">Performance Tuning</h2>
            <p class="[ body-text ][ fs-18 txt-square ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis.</p>
        </div>
        <div class="[ subgrid-r ]">
            <img class="[ rounded-20 ][ mb-20 ]" src="/static/images/interior_work.jpg" >
            <h2 class="[ heading ] [ fs-30 ]">Interior Work</h2>
            <p class="[ body-text ][ fs-18 txt-square ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis. Ac ullamcorper velit ultrices posuere cras ipsum pretium</p>
        </div>
    </div>
</section>

<!-- Service Benifits Section -->
<section class="[ services-benifit-section container full-width  pt-120 pb-90 mb-80 mt-35 relative ]">
    <div class="[ overlay absolute t-0 l-0 r-0 b-0 full-width ]"></div>
    <div class="[ grd g-30 g-15-sd benifits relative ]">
        <h1 class="[ heading ][ fs-60 clr-light ]">Motosport as a passion</h1>
        <div class="[  ]">
            <div class="[ grd ai-start ][ x-scroll ][ no-scrollbar ]">
                <div class="[ grd subgrid-r ]">
                    <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ][ clr-light ]">Pure Sportiness</h2>
                    <p class="[ pt-5 ][ fs-18 clr-body-light ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis.</p>
                </div>
                <div class="[ grd subgrid-r ]">
                    <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ][ clr-light ]">All Round Star</h2>
                    <p class="[ pt-5 ][ fs-18 txt-square clr-body-light ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis. Ac ullamcorper velit ultrices posuere cras ipsum pretium</p>
                </div>
                <div class="[ grd subgrid-r ]">
                    <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ][ clr-light ]">Driver Oriented</h2>
                    <p class="[ pt-5 ][ fs-18 txt-square clr-body-light ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis. Ac ullamcorper velit ultrices posuere cras ipsum pretium</p>
                </div>
                <div class="[ grd subgrid-r ]">
                    <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ][ clr-light ]">Aerodynamic</h2>
                    <p class="[ pt-5 ][ fs-18 txt-square clr-body-light ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- <!-- Brands Services Section -->
<div class="[ service-brands ][ w-fit flx row pb-30 pt-30 full-width x-hidden ]">
    <div class="[ slider ][ flx row ai-center ]">
        <img class="" src="/static/images/brands/brand_01.svg">
        <img class="" src="/static/images/brands/brand_02.svg">
        <img class="" src="/static/images/brands/brand_03.svg">
        <img class="" src="/static/images/brands/brand_04.svg">
        <img class="" src="/static/images/brands/brand_05.svg">
        <img class="" src="/static/images/brands/brand_06.svg">
        <img class="" src="/static/images/brands/brand_07.svg">
        <img class="" src="/static/images/brands/brand_08.svg">
        <img class="" src="/static/images/brands/brand_09.svg">
        <img class="" src="/static/images/brands/brand_10.svg">
        <img class="" src="/static/images/brands/brand_11.svg">
        <img class="" src="/static/images/brands/brand_12.svg">
        <img class="" src="/static/images/brands/brand_13.svg">
        <img class="" src="/static/images/brands/brand_14.svg">
        <img class="" src="/static/images/brands/brand_15.svg">
        <img class="" src="/static/images/brands/brand_16.svg">
        <img class="" src="/static/images/brands/brand_17.svg">
        <img class="" src="/static/images/brands/brand_18.svg">
    </div>

    <div class="[ slider ][ flx row ai-center ]">
        <img class="" src="/static/images/brands/brand_01.svg">
        <img class="" src="/static/images/brands/brand_02.svg">
        <img class="" src="/static/images/brands/brand_03.svg">
        <img class="" src="/static/images/brands/brand_04.svg">
        <img class="" src="/static/images/brands/brand_05.svg">
        <img class="" src="/static/images/brands/brand_06.svg">
        <img class="" src="/static/images/brands/brand_07.svg">
        <img class="" src="/static/images/brands/brand_08.svg">
        <img class="" src="/static/images/brands/brand_09.svg">
        <img class="" src="/static/images/brands/brand_10.svg">
        <img class="" src="/static/images/brands/brand_11.svg">
        <img class="" src="/static/images/brands/brand_12.svg">
        <img class="" src="/static/images/brands/brand_13.svg">
        <img class="" src="/static/images/brands/brand_14.svg">
        <img class="" src="/static/images/brands/brand_15.svg">
        <img class="" src="/static/images/brands/brand_16.svg">
        <img class="" src="/static/images/brands/brand_17.svg">
        <img class="" src="/static/images/brands/brand_18.svg">
    </div>
</div>
<section class="[ about-overview ][ full-width container relative ]">
    <div class="[ overlay ][ full-width absolute t-0 l-0 r-0 b-0 ]"></div>
    <div class="[ relative w-fit h-fit flx column jc-center ai-center g-10 ]">
        <h1 class="[ font-sec clr-light fs-60 lh-1 ]">We are more than just a repairs shop</h1>
        <p class="[ font-primary fs-20 ][ mb-20 ]">Lorem ipsum dolor sit amet consectetur. Urna felis eget in vitae. Nunc amet tincidunt congue ipsum euismod ultrices sagittis. Id lectus interdum elementum sagittis. Quisque nisi</p>
        <a href="/about" class="[ btn ][ as-start ]">About us</a>
    </div>
</section> --}}

<!-- Contact Section -->
{{>contact_section}}

