<!-- Showcase -->
<section class="[ services-showcase ][ full-width container ai-center jc-start pt-90 pt-30-sd pb-90 pb-30-sd mb-80 mb-40-md relative ]">
    <div class="[ w-fit h-fit absolute t-0 b-0 l-p r-0  full-width ][ overlay ]"></div>
    <h1 class="[ fs-80 clr-light fw-norm font-sec ][ relative ]">Services We Provide</h1>
</section>

<!-- Services -->
<section class="[ services-section ][ mb-120 mb-60-md ]">
    <h1 class="[ heading ][ ][ mb-20 ]">What We Do</h1>
    <div class="[ grd g-30 ][ x-scroll  no-scrollbar ]">
        <div class="[ subgrid-r ]">
            <img class="[ rounded-20 ][ mb-20 ]" src="/static/images/repairs.jpg" >
            <h2 class="[ heading ] [ fs-32 ]">Repairs</h2>
            <p class="[ body-text ][ fs-18 txt-square ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis. Ac ullamcorper velit ultrices posuere cras ipsum pretium</p>
        </div>
        <div class="[ subgrid-r ]">
            <img class="[ rounded-20 ][ mb-20 ]" src="/static/images/body_work.jpg" >
            <h2 class="[ heading ] [ fs-32 ]">Body Work</h2>
            <p class="[ body-text ][ fs-18 txt-square ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas.</p>
        </div>
        <div class="[ subgrid-r ]">
            <img class="[ rounded-20 ][ mb-20 ]" src="/static/images/performance_tuning.jpg" >
            <h2 class="[ heading ] [ fs-32 ]">Performance Tuning</h2>
            <p class="[ body-text ][ fs-18 txt-square ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis.</p>
        </div>
        <div class="[ subgrid-r ]">
            <img class="[ rounded-20 ][ mb-20 ]" src="/static/images/interior_work.jpg" >
            <h2 class="[ heading ] [ fs-32 ]">Interior Work</h2>
            <p class="[ body-text ][ fs-18 txt-square ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis. Ac ullamcorper velit ultrices posuere cras ipsum pretium</p>
        </div>
    </div>
</section>

<!-- Service Benifits Section -->
<section class="[ services-benifit-section benifits ][ grd g-30 g-15-sd mb-120 mb-60-md ]">
    <h1 class="[ heading ][ fs-60 ]">Motosport as a passion</h1>
    <div>
        <div class="[ grd ai-start ][ x-scroll ][ no-scrollbar ]">
            <div class="[ grd subgrid-r ]">
                <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ]">Pure Sportiness</h2>
                <p class="[ pt-5 ][ fs-18 ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis.</p>
            </div>
            <div class="[ grd subgrid-r ]">
                <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ]">All Round Star</h2>
                <p class="[ pt-5 ][ fs-18 txt-square ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis. Ac ullamcorper velit ultrices posuere cras ipsum pretium</p>
            </div>
            <div class="[ grd subgrid-r ]">
                <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ]">Driver Oriented</h2>
                <p class="[ pt-5 ][ fs-18 txt-square ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis. Ac ullamcorper velit ultrices posuere cras ipsum pretium</p>
            </div>
            <div class="[ grd subgrid-r ]">
                <h2 class="[ fs-30 ][ flx row g-20 g-10-md ai-center jc-start ][ heading ]">Aerodynamic</h2>
                <p class="[ pt-5 ][ fs-18 txt-square ][ body-text ]">Lorem ipsum dolor sit amet consectetur. Nibh pellentesque maecenas aenean posuere eu gravida venenatis.</p>
            </div>
        </div>
    </div>
</section>

<!-- Brands Services Section -->
<section class="[ services-brands ] [ grd full-width container pt-90 pb-90 pb-50-md pt-50-md mb-60-md relative ][ bg-dark ]">
    <div class="[ grd ai-start g-30 g-15-sd ]">
        <h1 class="[ ] [ relative ] [ font-sec clr-light fw-norm fs-60 ]">Brands That We Service</h1>
        <div class="[ brands-carousels ][ flx column jc-start w-fit g-50 ai-start relative x-hidden ]">
            <div class="[ slider-track ][ w-fit flx row ]">
                <div class="[ slider ][ flx row ai-center ]">
                    <img class="" src="/static/images/brands/brand_01.svg">
                    <img class="" src="/static/images/brands/brand_02.svg">
                    <img class="" src="/static/images/brands/brand_03.svg">
                    <img class="" src="/static/images/brands/brand_04.svg">
                    <img class="" src="/static/images/brands/brand_05.svg">
                    <img class="" src="/static/images/brands/brand_06.svg">
                </div>

                <div class="[ slider ][ flx row ai-center ]">
                    <img class="" src="/static/images/brands/brand_01.svg">
                    <img class="" src="/static/images/brands/brand_02.svg">
                    <img class="" src="/static/images/brands/brand_03.svg">
                    <img class="" src="/static/images/brands/brand_04.svg">
                    <img class="" src="/static/images/brands/brand_05.svg">
                    <img class="" src="/static/images/brands/brand_06.svg">
                </div>
            </div>
            <div class="[ slider-track ][ w-fit flx row ]">
                <div class="[ slider ][ flx row ai-center ]">
                    <img class="" src="/static/images/brands/brand_07.svg">
                    <img class="" src="/static/images/brands/brand_08.svg">
                    <img class="" src="/static/images/brands/brand_09.svg">
                    <img class="" src="/static/images/brands/brand_10.svg">
                    <img class="" src="/static/images/brands/brand_11.svg">
                    <img class="" src="/static/images/brands/brand_12.svg">
                </div>

                <div class="[ slider ][ flx row ai-center ]">
                    <img class="" src="/static/images/brands/brand_07.svg">
                    <img class="" src="/static/images/brands/brand_08.svg">
                    <img class="" src="/static/images/brands/brand_09.svg">
                    <img class="" src="/static/images/brands/brand_10.svg">
                    <img class="" src="/static/images/brands/brand_11.svg">
                    <img class="" src="/static/images/brands/brand_12.svg">
                </div>
            </div>
            <div class="[ slider-track ][ w-fit flx row ]">
                <div class="[ slider ][ flx row ai-center ]">
                    <img class="" src="/static/images/brands/brand_13.svg">
                    <img class="" src="/static/images/brands/brand_14.svg">
                    <img class="" src="/static/images/brands/brand_15.svg">
                    <img class="" src="/static/images/brands/brand_16.svg">
                    <img class="" src="/static/images/brands/brand_17.svg">
                    <img class="" src="/static/images/brands/brand_18.svg">
                </div>

                <div class="[ slider ][ flx row ai-center ]">
                    <img class="" src="/static/images/brands/brand_13.svg">
                    <img class="" src="/static/images/brands/brand_14.svg">
                    <img class="" src="/static/images/brands/brand_15.svg">
                    <img class="" src="/static/images/brands/brand_16.svg">
                    <img class="" src="/static/images/brands/brand_17.svg">
                    <img class="" src="/static/images/brands/brand_18.svg">
                </div>
            </div>
        </div>
    </div>
    
</section>

<!--Testimonial Section -->
<section class="[ testimonial-section ][ grd mb-120 ]">
    <h1 class="[ heading ][ fs-60 ]">Hear From Our Previous Clients</h1>
    <div class="[ flx column ai-center jc-center mt-35 relative ]">
        <span class="[ font-sec clr-accent ]">&#8220;</span>
        <span class="[ font-sec clr-accent ]">&#8222;</span>
        <p class="[ body-text ][ fs-20 txt-center mb-10 ]">Lorem ipsum dolor sit amet consectetur. Magna velit suspendisse ut urna eget. Adipiscing tempor in egestas velit eleifend. Risus sit tempus malesuada hendrerit. Metus aliquam ultrices neque ut netus dignissim morbi senectus. Neque eget pellentesque neque viverra pellentesque nulla maecenas iaculis laoreet. Diam nunc tellus.</p>
        <div class="[ flx ai-center jc-center ]">
            <div class="[ bg-dark ][ mr-10 ]"></div>
            <h2 class="[ heading ][ fs-30 ]">John Doe</h2>
        </div>
    </div>
</section>

<!-- Contact Section -->
{{>contact_section}}

