<section class="mt-100">
    <form>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password">
        </div>
        <button type="submit">Submit</button>
    </form>

    <script>
        const form = document.querySelector("form");

        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            
            const res = await fetch("/auth/register", {
                method: 'POST',
                body: JSON.stringify({first_name: "Sanele", last_name: "Madondo", email: "sasal@gmail.com", password: "redR!ot3500", phone: "+27671855541"}),
                headers: {'Content-Type': 'application/json'}
            });

            res.json().then(data => console.log(data));
        })
    </script>
</section>