<section class="[ signup ][ w-fit flx ai-center jc-center ]">
    <form class="[ flx column g-20 ai-center pt-50 pb-50 pl-35 pr-35 ][ rounded-20 ]">
        <img src="/static/images/branding.png" alt="">
        <h1 class="[ body-text fs-20 fw-norm ][  ]">Create An Account</h1>
        <div>
            <input type="text" id="first-name" class="[ font-primary fs-18 ]" name="first_name" placeholder="Name">
            <p class="[ error-message ][ font-primary ][ mt-10 ]"></p>  
        </div>
        <div>
            <input type="text" id="last-name" class="[ font-primary fs-18 ]" name="last_name" placeholder="Surname">
            <p class="[ error-message ][ font-primary ][ mt-10 ]"></p>  
        </div>
        <div>
            <input type="tel" id="phone" class="[ font-primary fs-18 ]" name="phone" pattern="^0\d{9}$" placeholder="Phone Number">
            <p class="[ error-message ][ font-primary ][ mt-10 ]"></p>  
        </div>
        <div>
            <input type="email" id="email" class="[ font-primary fs-18 ]" name="email" placeholder="Email Address">
            <p class="[ error-message ][ font-primary ][ mt-10 ]"></p>           
        </div>
        <div>
            <input type="password" id="password" class="[ font-primary fs-18 ]" name="password" placeholder="Password">
            <p class="[ error-message ][ font-primary ][ mt-10 ]"></p>  
        </div>
        <div>
            <input type="password" id="confirm-password" class="[ font-primary fs-18 ]" name="confirm-password" placeholder="Confirm Password">
            <p class="[ error-message ][ font-primary ][ mt-10 ]"></p>  
        </div>
        <div class="[ flx jc-sb ai-center w-fit mt-10 ]">
            <a class="[ font-primary fs-18 ]" href="/auth/login" >Log in Instead</a>
            <button type="submit" class="[ btn ]">Submit</button>
        </div>
    </form>

    <script>
        const form = document.querySelector("form");
        const firstName = form.querySelector("#first-name");
        const lastName = form.querySelector("#last-name");
        const phone = form.querySelector("#phone");
        const email = form.querySelector("#email");
        const password = form.querySelector("#password");
        const passwordConf = form.querySelector("#confirm-password");


        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            const phoneRegex = /^0\d{9}$/;

            let error = false;

            function setError(element, message) {
                element.nextElementSibling.innerHTML = message;
            }

            if(!emailRegex.test(email.value)) {
                setError(email, "Invalid email")
                error = true;
            } else {
                setError(email, "");
            }

            if (!passwordRegex.test(password.value)) {
                setError(password, "Password must have at least 1 lowercase, 1 uppercase, 1 digit, 1 special character and be at least 8 characters long")
                error = true;
            }else {
                setError(password, "");
            }

            if (firstName.value === '') {
                setError(firstName, "First name is required");
                error = true;
            }else if (firstName.value.length > 60) {
                setError(firstName, "Name must not be longer than 60 characters");
                error = true;
            }else {
                setError(firstName, "")
            }

            if (lastName.value === '') {
                setError(lastName, "First name is required");
                error = true;
            }else if (firstName.value.length > 60) {
                setError(firstName, "Name must not be longer than 60 characters");
                error = true;
            }else {
                setError(firstName, "");
            }

            if (!phoneRegex.test(phone.value)) {
                setError(phone, "Invalid phone number");
                error = true;
            }else {
                setError(phone, "");
            }

            if (password.value !== passwordConf.value) {
                setError(passwordConf, "Passwords do not match");
                error = true;
            }else {
                setError(passwordConf, "");
            }

            if (error) {return};

            const res = await fetch("/auth/register", {
                method: 'POST',
                body: JSON.stringify(
                    {
                        first_name: firstName.value,
                        last_name: lastName.value,
                        email: email.value,
                        password: password.value,
                        phone: phone.value
                    }),
                headers: {'Content-Type': 'application/json'}
            });

            res.json().then(function(data) {
                if (res.status !== 200) {
                    if (data.target === "email") {
                        setError(email, data.message);
                    }else if (data.target === "phone") {
                        setError(phone, data.message);
                    }
                }
                else {
                    window.location.assign("/");
                }
            });
        })
    </script>
</section>