<!-- Book Section -->
<secion class="[ book-appointment ] [ grd g-30 mb-120 ]">
    <div class="[ flx column ai-start jc-center g-20 ]">
        <h1 class="[ fs-60 ][ heading ]">Ready to Unlock the Full Potential of Your Vehicle?</h1>
        <p class="[ fs-20 ][ mb-10 ][ body-text ]">
            Contact revivetune today! Our dedicated team is here to answer your questions, schedule appointments, and guide you through the tuning process. Feel free to visit our shop, or use the contact form below to reach out. We look forward to transforming your ride into a high-performance masterpiece.
        </p>
        <div class="[ contact-info ][ grd ]">
            <i class="[ fas fa-phone ][ as-center ][ fs-24 ]"></i>
            <h3 class="[ font-sec fs-20 clr-heading fw-norm ]">Phone Number</h3>
            <p class="[ fs-20 ][ body-text ]">+3 (15) 126 1383 125</p>
        </div>
        <div class="[ contact-info ][ grd ]">
            <i class="[ fas fa-location-pin ][ as-center ][ fs-24 ]"></i>
            <h3 class="[ font-sec fs-20 clr-heading fw-norm ]">Shop Address</h3>
            <p class="[ fs-20 ][ body-text ]">43 Dundee St, Durban 4080</p>
        </div>
        <div class="[ contact-info ][ grd ]">
            <i class="[ fas fa-envelope ][ as-center ][ fs-24 ]"></i>
            <h3 class="[ font-sec fs-20 clr-heading fw-norm ]">Email Address</h3>
            <p class="[ fs-20 ][ body-text ]">info@revelite.co.za</p>
        </div>
    </div>
    <form class="[ grd js-center as-center g-30 ml-40 ]">
        <div class="[ grd subgrid-c  ai-start ]">
            <label class="[ fs-18 ][ heading ]" for="name">Name:</label>
            <input name="name" type="text" />
        </div>
        <div class="[ grd subgrid-c  ai-start ]">
            <label class="[ fs-18 ][ heading ]" for="email">Email:</label>
            <input name="email" type="email" />
        </div>
        <div class="[ grd subgrid-c  ai-start ]">
            <label class="[ fs-18 ][ heading ]" for="name">Message:</label>
            <textarea></textarea>
        </div>
        <a href="#" class="[ btn ] [ js-start ]">Send</a>
    </form>
</secion>