<nav class="[ container ] [ ai-center absolute t-0 l-0 r-0 ]">
    <div class="[ nav__content ] [ flx row jc-sb ai-center ]">
        <p class="[ branding ] [ font-sec fs-32 clr-heading pointer ]">revelite</p>
        <div class="[ flx row g-60 ai-center none-md ][ font-sec fs-20 ]">
            <a href="/" class="[ clr-heading accent-hover clr-trans ]">Home</a>
            <div  class="[ shop-link ][ relative ][ pointer clr-heading ]">
                <a class="[ clr-trans accent-hover ]">Shop Parts</a>
                <div class="[ flx column g-10 pt-10 pb-10 pl-25 pr-25 ]">
                    <a class="[ accent-hover clr-trans ]">Shop All</a>
                    <a class="[ accent-hover clr-trans ]">Wheels</a>
                    <a class="[ accent-hover clr-trans ]">Suspension</a>
                    <a class="[ accent-hover clr-trans ]">Engine Parts</a>
                    <a class="[ accent-hover clr-trans ]">Car Parts</a>
                    <a class="[ accent-hover clr-trans ]">Accessories</a>
                </div>
            </div>
            <a href="/services" class="[ clr-heading accent-hover clr-trans ]">Services</a>
            <a href="#" class="[ clr-heading accent-hover clr-trans ]">Gallery</a>
            <a href="/about" class="[ clr-heading accent-hover clr-trans ]">About Us</a>
            <div class="[ flx row ai-center g-5 pointer ]">
                <i class='[ fas fa-shopping-cart ] [ clr-trans ]'></i>
                <a class="[ clr-heading clr-trans ]">Cart</a>
            </div>
        </div>
        <i class="[ fas fa-bars ][ none block-md ][ clr-trans fs-20 ]"></i>
    </div>
</nav>