<nav class="[ container ] [ ai-center absolute t-0 l-0 r-0 ]">
    <div class="[ nav__content ] [ relative ] [ flx row jc-sb ai-center ]">
        <a href="/" class="[ branding ] [ font-sec fs-32 clr-heading pointer ]">revelite</a>
        <div class="[ flx row g-60 ai-center none-md ][ font-sec fs-20 ]">
            <a href="/" class="[ clr-heading accent-hover clr-trans ]">Home</a>
            <div  class="[ dropdown-link shop-link ][ relative ][ pointer clr-heading ]">
                <a class="[ clr-trans accent-hover ]">Shop Parts</a>
                <div class="[ flx column g-10 pt-10 pb-10 pl-25 pr-25 ]">
                    <a href="/shop/all" class="[ accent-hover clr-trans ]">Shop All</a>
                    <a href="/shop/?categories=1" class="[ accent-hover clr-trans ]">Wheels</a>
                    <a href="/shop/?categories=2" class="[ accent-hover clr-trans ]">Suspension</a>
                    <a href="/shop/?categories=3" class="[ accent-hover clr-trans ]">Engine Parts</a>
                    <a href="/shop/?categories=4" class="[ accent-hover clr-trans ]">Electronics</a>
                    <a href="/shop/?categories=5" class="[ accent-hover clr-trans ]">Lights</a>
                    <a href="/shop/?categories=6" class="[ accent-hover clr-trans ]">Accessories</a>
                </div>
            </div>
            <a href="/services" class="[ clr-heading accent-hover clr-trans ]">Services</a>
            <a href="#" class="[ clr-heading accent-hover clr-trans ]">Gallery</a>
            <a href="/about" class="[ clr-heading accent-hover clr-trans ]">About Us</a>
            <div class="[ cart-button ][ flx row ai-center g-5 pointer ]">
                <i class='[ fa-solid fa-cart-shopping ] [ clr-trans fs-18]'></i>
                <a href="#" class="[ clr-heading clr-trans lh-0 ]">Cart</a>
            </div>
            {{#if user}}
                <div class="[ dropdown-link account-link ][ relative ][ flx row ai-center g-5 pointer clr-heading ]">
                    <i class='[ fas fa-user-circle ] [ clr-trans fs-18]'></i>
                    <a class="[ clr-trans accent-hover ]">{{user.first_name}}</a>
                    <div class="[ flx column g-10 pt-10 pb-10 pl-25 pr-25 ]">
                        <a href="/auth/logout" class="[ accent-hover clr-trans ]">Log out</a>
                    </div>
                </div>
            {{/if}}
            {{#unless user}}
            <div class="[ flx row ai-center g-5 pointer ]">
                <i class='[ fas fa-user-circle ] [ clr-trans fs-18]'></i>
                <a href="/auth/register" class="[ clr-heading clr-trans lh-0 ]">Sign In</a>
            </div>
            {{/unless}}
        </div>
        <div class="[ mobile-buttons ][ flx row ai-center g-30 ]">
            <i class='[ mobile-cart-button ][ fa-solid fa-cart-shopping ] [ clr-trans fs-18 ]'></i>
            <i class="[ fas fa-bars ][ none block-md ][ clr-trans fs-20 ]"></i>
        </div>
        <div class="[ mobile-nav ][ flx-md js-center ai-center ]">
            <ul class="[ no-list-style ][ flx g-10 column ]">
                <li><a  class="[ fs-20 heading ]" href="/">Home</a></li>
                <li><a  class="[ fs-20 heading ]" href="/shop/all">Shop Parts</a></li>
                <ul class="[ no-list-style ] [ flx g-10 column ]">
                    <li><a href="/shop/?categories=1" class="[ fs-20 heading ]">Wheels</a></li>
                    <li><a href="/shop/?categories=2" class="[ fs-20 heading ]">Suspension</a></li>
                    <li><a href="/shop/?categories=3" class="[ fs-20 heading ]">Engine Parts</a></li>
                    <li><a href="/shop/?categories=4" class="[ fs-20 heading ]">Electronics</a></li>
                    <li><a href="/shop/?categories=5" class="[ fs-20 heading ]">Lights</a></li>
                    <li><a href="/shop/?categories=6" class="[ fs-20 heading ]">Accessories</a></li>
                </ul>
            <li><a  class="[ fs-20 heading ]" href="/services">Services</a></li>
            <li><a  class="[ fs-20 heading ]" href="/about">About Us</a></li><li><a href=""></a></li>
            {{#if user}}
                <li><a  class="[ fs-20 heading ]" href="">{{user.first_name}}</a></li>
                <ul class="[ no-list-style ] [ flx g-10 column ]">
                    <li><a  class="[ fs-20 heading ]" href="/auth/logout">Logout</a></li>
                </ul>
            {{/if}}
            {{#unless user}}
                <li><a  class="[ fs-20 heading ]" href="/auth/register">Sign In</a></li>
            {{/unless}}
            </ul>
            <i class="[ fas fa-times ][ fs-30 ]"></i>
        </div>
    </div>
</nav>
