<nav class="[ container ] [ ai-center absolute ]">
    <div class="[ nav__content ] [ flx row jc-sb ai-center ]">
        <p class="[ branding ] [ font-sec fs-32 clr-heading pointer ]">revelite</p>
        <div class="[ flx row g-60 ai-center ][ font-sec fs-20 ]">
            <a href=""# class="[ clr-heading accent-hover clr-trans ]">Home</a>
            <a href=""# class="[ clr-heading accent-hover clr-trans ]">Shop Parts</a>
            <a href=""# class="[ clr-heading accent-hover clr-trans ]">Services</a>
            <a href=""# class="[ clr-heading accent-hover clr-trans ]">Gallery</a>
            <a href=""# class="[ clr-heading accent-hover clr-trans ]">About Us</a>
            <div class="[ flx row ai-center g-5 pointer ]">
                <i class='[ fas fa-shopping-cart ] [ clr-trans ]'></i>
                <a class="[ clr-heading clr-trans ]">Cart</a>
            </div>
        </div>
        <i class='[ fas fa-bars ] [ clr-trans fs-20 ]'></i>
    </div>
</nav>