@use "../abstracts/variables";

.description {
    grid-template-columns: 1fr 1fr;

    &__tagline {
        p:first-child {
            max-width: 500px;
            line-height: 1.1;

            color: transparent;
            -webkit-text-stroke: 2px lighten(variables.$dark-color, 30);
        }

        p:last-child {
            span {
                color: variables.$accent-color;
            }
        }
    }
}

.team {
    grid-template-columns: 1fr 1fr;

    &__description {
        h1 {
            max-width: 480px;
        }
    }

    img {
        width: clamp(16.25rem, 12.21rem + 18.5vw, 34.375rem);
        max-width: 550px;
    }
}

.map {
    width: 100%;
    aspect-ratio: 7 / 1;

    height: auto;
    min-height: 210px;

    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: variables.$tablet-size) {
    .description {
        grid-template-columns: 1fr;
    }

    .team {
        grid-template-columns: 1fr;

        &__description {
            h1 {
                max-width: none;
            }
        }
    }
}
