@use "../abstracts/variables";
@use "../abstracts/composition" as *;
@use "../abstracts/utilities" as *;

.hero {
    grid-template-columns: 30% 1fr;
    grid-column: content / full-width;

    height: 90vh;

    overflow-x: hidden;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 23.39%, rgba(255, 255, 255, 0.71) 45.37%, rgba(232, 232, 232, 0.13) 61.23%, rgba(198, 198, 198, 0.33) 76.99%);

    .hero__overlay {
        display: none;
    }

    .hero__text {
        & > .body-text {
            max-width: 90%;
            margin-top: -10px;
        }
    }

    img {
        width: 85vw;
        max-width: none;
        height: auto;
    }
}

.services {
    & > div {
        width: 50%;

        &:first-child {
            p:not(:first-child) {
                color: variables.$light-color;
                -webkit-text-stroke: 3px rgba(16, 16, 16, 0.384);
                letter-spacing: 3.2px;
            }
        }

        &:last-child {
            width: 45%;

            p {
                width: 75%;
            }
        }
        .point {
            width: 6px;
            height: 6px;

            border-radius: 50%;

            background-color: variables.$accent-color;
        }
    }
}

.catalogue {
    grid-template-columns: 1fr 1fr;

    & > div:first-child {
        img {
            width: 520px;
            height: auto;
        }
    }

    & > div:nth-child(2) {
        p {
            width: 85%;
        }
    }

    & > div:last-child {
        grid-column: span 2;
        grid-template-columns: repeat(5, 1fr);
    }

    & > div:not(:last-child), & div:last-child > div {
        background-color:rgba(211, 211, 211, 0.35);

        .arrow {
            top: 30px;
            right: 35px;

            font-size: 2rem;
        }
    }

    .catalogue__item {
        @extend .flx;
        @extend .jc-sb;
        @extend .ai-center;
        @extend .column;

        @extend .relative;

        @extend .pt-50;
        @extend .pb-10;
        @extend .rounded-20;

        & > h2 {
            @extend .font-sec;
            @extend .fs-24;
            @extend .clr-heading;
            @extend .fw-norm;
        }

        & > img {
            width: 60%;
            @extend .mb-20;
        }
    }
}

.benifits {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;

    & > div {
        grid-row: span 2;

        h2 {
            &::before {
                content: '';

                display: block;

                width: 3px;
                height: 65%;

                background-color: variables.$accent-color;
            }
        }
    }

    h1 {
        grid-column: span 4;
        margin-bottom: -15px;
    }
    p {
        margin-top: -20px;
        width: 92%;
    }

    img {
        width: 100%;
        aspect-ratio: 1.73;
    }
    
}

.gallery {
    grid-template-columns: repeat(6, 1fr);

    overflow: hidden;

    & > div:first-child, & > div:last-child {
        background-image: url("/static/images/gallery/gallery_image_00.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        justify-self: stretch;
        align-self: stretch;
    }

    img {
        width: 100%;
        aspect-ratio: 4 / 3;
    }
}

.book-appointment {
    grid-template-columns: 1fr 1fr;

    & > div:first-child {
        & > p {
            margin-top: -10px;
        }
    }

    .contact-info {
        grid-template-columns: minmax(0, 60px) 1fr;
        i {
            grid-row: span 2;
        }
    }

    form {
        grid-template-columns: 1fr 8fr;
        
        margin-left: 40px;

        div {
            grid-column: span 2;

            input, textarea {
                border: none;
                background-color: darken(variables.$light-color, 5);
                border-bottom: 2px solid variables.$dark-color;
            }

            input {
                height: 40px;
            }

            textarea {
                height: 250px;
            }
        }

        a {
            grid-column: 2;
        }
    }
}

//Media queries 
@media only screen and (max-width: 1450px) {
    .hero {
        grid-template-columns: 1fr 45%;
    }
}

@media only screen and (max-width: variables.$tablet-size) {
    .hero {

        overflow-x: hidden;

        grid-template-columns: 1fr;
        grid-column: full-width;

        .hero__overlay {
            display: block;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            z-index: 2;

            background-color: #000000ee;
        }

        .hero__text {
            padding-left: 5%;
            width: min((480px + 5%), 95%);
            z-index: 3;

            & > .body-text {
                max-width: none;
            }
        }
        img {
            position: absolute;
            width: 750px;
            height: auto;

            top: 50%;
            transform: translateY(-50%);
            right: -375px;
            margin-top: 0;

            z-index: 1;
        }
    }
}

@media only screen and (max-width: 860px) {
    .hero h1, .body-text {
        color: variables.$light-color;
    }
}