@use "../abstracts/variables";
@use "../abstracts/composition" as *;
@use "../abstracts/utilities" as *;

.hero {
    grid-template-columns: 30% 1fr;
    grid-column: content / full-width;
    height: 90vh;
    overflow-x: hidden;
    background: linear-gradient(90deg, #ffffff00 23.39%, #ffffffb5 45.37%, #e8e8e821 61.23%, #c6c6c654 76.99%);

    .hero__overlay {
        display: none;
    }

    .hero__text {
        & > .body-text {
            max-width: 90%;
            margin-top: -10px;
        }
    }

    img {
        width: 85vw;
        max-width: none;
        height: auto;
    }

    @media only screen and (max-width: 650px) {
        background: url("/static/images/hero-mobile.jpg") no-repeat center center/cover;
        img {
            display: none;
        }
    }
}

.services {
    background: url('/static/images/services-bg.jpg') no-repeat center center/cover;
    height: 90vh;

    .overlay {
        background-color: #000000e8;
        @media only screen and (max-width: 650px) {
            background-color: #000000f5;
        }
    }

    .services-content {
        & > div {
            .title {
                & > div {   
                    height: 3px;
                    background-color: variables.$light-color;
                }

            }
    
            &:first-child {
                flex-shrink: 0;
                p:not(.fs-20){
                    color: transparent;
                    -webkit-text-stroke: 3px #fffffff3;
                    letter-spacing: 4px;

                    font-size: 3.8rem;
                font-size: clamp(3.8rem, 3.42rem + 1.75vw, 5rem);

                    @media only screen and (max-width: 450px) {
                        -webkit-text-stroke: 1px #fffffff3;   
                    }
                }
                p.large-service {
                    @media only screen and (max-width: 500px) {
                        display: none;
                    } 
                }

                p.mobile-service {
                    @media only screen and (max-width: 500px) {
                        display: inline-block;
                    }
                }
                .empty-space {
                    background: transparent;
                    border: 4px solid darken(variables.$light-color, 10);
                    height: 65px;
                }
            }
    
            &:last-child {
                width: 50%;
                max-width: 650px;
                p {
                    max-width: 490px;
                    color: darken(variables.$light-color, 15);
                }
            }
    
            .point {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: variables.$accent-color;
            }
        }
    }
}

@keyframes scroll {
 0% {
    transform: translateX(0);
 }
 100% {
    transform: translateX(-100%);
 }
}

.part-brands {
    // background-color: #c4c4c4;
    div {
        animation: scroll 15s linear infinite;
        flex-shrink: 0;
        img {
            height: 20px;
            width: auto;
            margin: 0 55px;

            @media only screen and (max-width: 450px) {
                margin: 0 20px;
            }
        }
    }
}


.catalogue {
    .shop-online {
        grid-template-columns: 3fr 2fr;
    }
}

.about-overview {
    background: url('/static/images/about-bg.jpg') no-repeat center center/cover;
    height: 110vh;

    .overlay {
        background: #080808;
        background: linear-gradient(90deg, #080808 0%, #080808bb 63%, #08080800 100%);
    }

    & > div:not(.overlay) {
        width: 85%;
        max-width: 500px;

        p {
            color: darken(variables.$light-color, 5);
        }
    }

    @media only screen and (max-width: 700px) {
        justify-items: center;

        & > div:not(:first-child) {
            align-items: center;

            .btn {
                align-self: center;
            }

            & > p, & > h1 {
                text-align: center;
            }
        }

        .overlay {
            background: #000000cb;
        }

        height: fit-content;
        padding-block: 50px;
    }

}

.benifits {
    grid-template-columns: 2fr 3fr;

    .title {
        img {
            width: 90%;
            max-width: 330px;
            height: auto;
        }
    }

    & > div:not(.title) {
        container: my-container / inline-size;

        & > div {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            column-gap: 100px;
            row-gap: 60px;

            & > div {
                grid-row: span 3;
                h2 {
                    &::before {
                        content: '';

                        @extend .block;

                        flex-shrink: 0;

                        width: 3px;
                        height: 65%;
                        background-color: variables.$accent-color;
                    }
                }
                p {
                    margin-top: -60px;
                }

                a {
                    margin-top: -60px;
                }
            }
    
            @media only screen and (max-width: 700px) {
                grid-template-columns: 1fr;
                column-gap: 25px;

                & > div {
                    width: 280px;
                    justify-items: center;
                    align-items: center;
                    justify-self: center;

                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                    

                    p, h2 {
                        text-align: center;
                    }
                    
                    & > * {
                        margin: 0 !important;
                    }
                }
            }
        } 
    }
    @media only screen and (max-width: 700px) {
        h1 {
            justify-content: center;
            text-align: center;
        }
    }
}
@container my-container (inline-size < 700px) {
    .benifits > div > div {
     column-gap: 45px;
    }
 }

.gallery {
    grid-template-columns: repeat(6, 1fr);

    & > div:first-child, & > div:last-child {
        background-image: url("/static/images/gallery/gallery_image_00.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    & > div:first-child {
        grid-column: span 2;
    }

    img {
        width: 100%;
        aspect-ratio: 4 / 3;
    }
}

//Media queries 
@media only screen and (max-width: 1450px) {
    .hero {
        grid-template-columns: 1fr 45%;
    }
}

@media only screen and (max-width: variables.$tablet-size) {
    .hero {
        overflow-x: hidden;
        grid-template-columns: 1fr;
        grid-column: full-width;

        .hero__overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            z-index: 2;
        }

        .hero__text {
            padding-left: 5%;
            width: min((480px + 5%), 95%);
            z-index: 3;

            & > .body-text {
                max-width: none;
            }

            .btn {
                background-color: variables.$accent-color;
                color: variables.$dark-color;
            }
        }
        img {
            position: absolute;
            width: 750px;
            height: auto;

            top: 50%;
            transform: translateY(-50%);
            right: -375px;
            margin-top: 0;

            z-index: 1;
        }
    }

    .services {
        height: auto;
        .services-content {
            & > div {
                .title {
                    flex-direction: row-reverse;
    
                }
            }
            grid-column: content / full-width !important;

            padding-bottom: 60px;

            & > div, & > div:last-child {
                width: 100%;
            }

            & > div:first-child {
                p {
                    min-width: 350px;
                }
                p:not(:first-child) {
                    -webkit-text-stroke-width: 2px;
                }
            }

            & > div:last-child {
                @media only screen and (max-width: 850px) {
                    flex-direction: column;
                    gap: 0px;
                }

                & > div p { width: 95%;}

                & > div {
                    flex: 1;

                    p {
                        width: 100%;
                    }
                }
            }
        }
    }

    .benifits {
        grid-template-columns: 1fr;
    };

    .catalogue {
        .shop-online {
            grid-template-columns: 1fr;

            img {
                grid-row: 2 / 3;
            }

            img, div {
                width: 90%;
                max-width: 470px;
            }
        }
    }

    .gallery {
        grid-template-columns: repeat(5, 1fr);

        & > img {
            min-width: 120px;
        }
    }
}

@media only screen and (max-width: 860px) {
    .services-content {
        & > div {
            .title {
                h2 {
                    font-size: 18px;
                }
            }
        }
    }
    .hero h1, .hero .body-text {
        color: variables.$light-color;
    }

    .hero .hero__overlay {
        background: #000000ee;
        display: block;
    }
}

@media only screen and (max-width: 650px ) {
    .hero .hero__overlay {
        background: #000000c9;
    }
}

@media only screen and (max-width: 450px) {
    .hero {
        padding-top: 80px;
        height: fit-content;

        .hero__text {
            margin-top: 60px;
        }
    }
}