@use "../abstracts/variables";
nav {
    height: 100px;
    top: 0;
    left: 0;
    right: 0;

    .nav__content {
        div {

            @media only screen and (max-width: variables.$tablet-size) {
                display: none;
            }

            div:hover > * {
                color: variables.$accent-color;
            }
        }

        & > i {
            display: none;

            @media only screen and (max-width: variables.$tablet-size) {
                display: block;
            }

        }
    }
}