@use "../abstracts/variables";

.services-showcase {
    background: url("/static/images/benifit_3.jpg") no-repeat center/cover;
    margin-top: 100px;

    @media only screen and (max-width: 860px) {
        margin-top: 0;
        padding-top: 190px
    }

    @media only screen and (max-width: 500px) {
        padding-top: 130px;
    }
}

.services-section {
    h1 {
        @media only screen and (max-width: 500px) {
            justify-self: center;
            text-align: center;
        }
    }
    & > div {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto;

        @media only screen and (max-width: 850px) {
            grid-template-columns: 1fr 1fr;
            gap: 30px;

        }

        @media only screen and (max-width: 500px) {
            grid-template-columns: 1fr;
            justify-items: center;

            div {
                max-width: 280px;
                h2 {
                    justify-self: center;
                    text-align: center;
                }
            }
        }

        div {
            grid-row: span 3;
            max-width: 330px;

            img {
                width: 100%;
                aspect-ratio: 4 / 2;
                object-fit: cover;
            }
        }
    }

}

.services-benifit-section {
    background: url("/static/images/services-bg.jpg") no-repeat center center/cover;
    
    .overlay {
        background-color: #000000e7;
    }
    & > div {
            h1 {
                max-width: 250px;
            }
    }
}

.service-brands {
    .slider {
        animation: scroll 15s linear infinite;
        flex-shrink: 0;

        img {
            height: 25px;
            width: auto;
            margin: 0 35px;
        }
    }
}

.financing-section {

    & > div {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);

        @media only screen and (max-width: 1100px) {
            grid-template-columns: 1fr 1fr;
            row-gap: 20px;
        }

        & > div {
            grid-row: span 4;

            h3 {
                &::before {
                    content: "";

                    width: 4px;
                    align-self: stretch;

                    background-color: variables.$accent-color;
                }
            }
            background-color: darken(variables.$light-color, 5);

            img {
                object-fit: cover;
                object-position: center;

                aspect-ratio: 16 / 9;
            }

            ul {
                list-style-type: none;
                padding-left: 0;

                li {
                    &::before {
                        content: "";
                        display: block;
                        width: 6px;
                        height: 6px;
                        background-color: variables.$accent-color;

                    }
                }
            }
        }

    }
    @media only screen and (max-width: 550px) {
        & > h1 {
            padding-inline: 5%;
        }
        & > div {
            grid-template-columns: 1fr;
            justify-items: center;

            & > div {
                flex-shrink: 0;
                width: 95%;
            }
        }
 
    }
}


.testimonial-section {
    grid-template-columns: 2fr 3fr;

    h1 {
        max-width: 350px;
    }

    @media only screen and (max-width: 1050px) {
        grid-template-columns: 1fr;

        h1 {
            max-width: none;
            margin-bottom: 45px;
            text-align: center;
        }

        & > div {
            max-width: 800px;
            justify-self: center;
        }
    }


    & > div {
        span {
            position: absolute;
            font-size: 95px;

            &:first-child {
                top: -65px;
                left: 0px;
            }

            &:nth-child(2) {
                bottom: -5px;
                right: 0px;
            }
        }
        & > div {
                div {
                    width: 30px;
                    height: 3px;
                }
        }
    }
}

@media only screen and (max-width: variables.$tablet-size) {
    .services-benifit-section {
        & > div { 
            h1 {
                max-width: none;
            }
        }
    }

    .services-brands {
        margin-bottom: 80px;
    }
}
