@use "../abstracts/composition" as *;
@use '../abstracts/utilities' as *;
@use "../abstracts/variables";

.btn {
    @extend .pt-5;
    @extend .pb-5;
    @extend .pl-35;
    @extend .pr-35;

    @extend .egg;
    @extend .bg-accent;
    @extend .font-sec;
    @extend .clr-heading;
    @extend .fs-20;
    @extend .clr-trans;
    @extend .pointer;

    @extend .no-border;

    flex-shrink: 0;

    &:hover {
        color: variables.$light-color;
    }

}

.heading {
    @extend .font-sec;
    @extend .clr-heading;

    @extend .fw-norm;

}

.body-text {
    @extend .font-primary;
    @extend .clr-body;

    line-height: 1.75;
}

.overlay {
    background-color: #000000dc;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}


